:root {
  --violet: rgb(144, 106, 248);
  --lightGrey: #e9e7e7;
}

/* NAVBAR */

.photo {
  border-radius: 50%;
}

.name {
  color: #fff !important;
  font-size: 25px;
  margin-top: 20px;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  color: #fff !important;
  margin-left: 12px;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--violet);
}

/* HEADER */

.header-wraper {
  position: relative;
  background: url(./images/laptop-1483974_1920.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-info h1 {
  margin-top: 50px;
  color: var(--violet);
}

.typed-text {
  margin-top: 20px;
  font-size: 25px;
  color: #fff;
}

.btn-header {
  border: solid 1px var(--violet);
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}

.btn-header:hover {
  color: var(--violet);
  font-weight: bold;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 17px !important;
  }
  .typed-text {
    font-size: 15px;
  }
}

/* PARTICULES */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* ABOUT ME */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 5px;
  border: solid 1px var(--violet);
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

.about-heading {
  color: var(--violet);
}

/* SERVICES */

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--lightGrey);
}

.services h1 {
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 10px auto;
  background: var(--violet);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.services .icon {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 270px;
  background: #fff;
  border-bottom: 5px solid var(--violet);
  margin-bottom: 20px;
  padding: 2px;
}

.services .box:hover {
  background: var(--violet);
  border-bottom: 5px solid #000;
}

.services .box:hover .circle {
  background: #fff;
}