:root {
  --violet: rgb(144, 106, 248);
  --lightGrey: #e9e7e7;
}

/* NAVBAR */

.photo {
  border-radius: 50%;
}

.name {
  color: #fff !important;
  font-size: 25px;
  margin-top: 20px;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  color: #fff !important;
  margin-left: 12px;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--violet);
}

/* HEADER */

.header-wraper {
  position: relative;
  background: url(./images/laptop-1483974_1920.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 50px;
}

.main-info {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-info h1 {
  margin-top: 50px;
  color: var(--violet);
}

.typed-text {
  margin-top: 20px;
  font-size: 25px;
  color: #fff;
}

.btn-header {
  border: solid 1px var(--violet);
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}

.btn-header:hover {
  color: var(--violet);
  font-weight: bold;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 17px !important;
  }
  .typed-text {
    font-size: 15px;
  }
}

/* PARTICULES */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* ABOUT ME */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 5px;
  border: solid 1px var(--violet);
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

.about-heading {
  color: var(--violet);
}

.about-text {
  margin-top: 50px;
  font-size: 20px;
}

/* SERVICES */

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--lightGrey);
}

.services h1 {
  text-transform: uppercase;
  color: var(--violet)
}

.services .circle {
  position: relative;
  margin: 10px auto;
  background: var(--violet);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.services .icon {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services p {
  font-size: 19px;
}

.services .box {
  height: 270px;
  background: #fff;
  border-bottom: 5px solid var(--violet);
  margin-bottom: 20px;
  padding: 2px;
  transition: .3s ease-in-out;
}

.services .box:hover {
  background: var(--violet);
  border-bottom: 5px solid #000;
}

.services .box:hover .circle {
  background: #fff;
}

/* EDITIONS - PRINT*/

.popupbox-wrapper {
  height: 750px;
  width: 850px;
  text-align: center;
}

.edit-wrap {
  background: var(--lightGrey);
  margin-top: 50px;
  padding: 10px 0;
}

.edit-wrap .row {
  text-align: center;
}

.edit-wrap h1 {
  color: var(--violet);
}

.edit-img {
  background: var(--violet);
  border: 5px solid #fff;
}

.portfolio-image-box {
  position: relative;
  margin-bottom: 20px;
}

.overflow {
  position: absolute;
  opacity: 0;
  background: #000;
  top: 0;
  width: 320px;
  height: 243px;
  border: 1px solid #fff;
  cursor: pointer;
}

.portfolio-image-box:hover .overflow{
  opacity: 60%;
  transition: .3s ease-in-out;
}

.edit-icon {
  position: absolute;
  opacity: 0;
  margin-top: -130px;
  color: #fff;
  cursor: pointer;
}

.portfolio-image-box:hover .edit-icon {
  opacity: 1;
  transition: .3s ease-in-out;
}

@media(max-width: 768px) {
  .imgXL {
    width: 100%;
  }  
}

@media(max-height: 570px) {
  .imgXL {
    width: 100%;
  }  
}

@media(max-height: 280px) {
  .imgXL {
    width: 100%;
  }  
}


/* WEB */

.web-wrap h1 {
  color: var(--violet);
}

.web-wrap {
  background: var(--lightGrey);
  margin-top: 50px;
  padding: 10px 0;
}

/* .web-wrap .row {
  text-align: center;
} */

.web-img {
  background: var(--violet);
  border: 5px solid #fff;
}

.web-image-box {
  position: relative;
  margin-bottom: 20px;
}

.overflow-web {
  position: absolute;
  opacity: 0;
  background: #000;
  top: 0;
  /* margin-left: 63px; */
  width: 510px;
  height: 385px;
  border: 1px solid #fff;
  cursor: pointer;
}

.web-icon {
  position: absolute;
  opacity: 0;
  margin-top: 180px;
  margin-left: -250px;
  color: #fff;
  cursor: pointer;
}

.web-image-box:hover .web-icon {
  opacity: 1;
  transition: .3s ease-in-out;
}

.web-image-box:hover .overflow-web{
  opacity: 60%;
  transition: .3s ease-in-out;
}

.web-imgXL {
  margin-bottom: 20px;
}

.hyper-link:hover {
  cursor: pointer;
}

/* CONTACT */

.contact {
  background: var(--lightGrey);
  margin-top: 50px;
  padding: 10px 0;
}

.contact h1 {
  color: var(--violet);
}

.contact p {
  text-align: center;
  font-size: 20px;
}

.contact-btn {
  background-color: var(--violet) !important;
  color: #fff !important;
  border-radius: 3px;
  margin-top: 15px;
  margin: 15px auto !important;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.contact-btn:hover {
  background-color: #fff !important;
  color: var(--violet) !important;
}

.contact input, .contact textarea {
  width: 100%;
  padding-left: 0;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;
}

.contact input:focus, .contact textarea:focus {
  background: transparent;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.contact .container {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid var(--violet);
  padding: 20px;
  border-radius: 5px;
}

.contact textarea {
  height: 140px !important;
}

/* @media(max-width 768px) {
  .contact .container {

  }
} */

.other {
  font-size: 20px;
}

.line {
  position: relative;
  top: -18px;
  width: 0;
  height: 2px;
  background: var(--violet);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.error-message {
  color: red;
}

.success-message {
  font-size: 18px;
  font-weight: 900;
  color: green;
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  background: #212529;
  color: #fff;
  padding: 15px;
  margin-top: 50px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: var(--violet);
  text-decoration: none;
  cursor: pointer;
}

.footer p {
  margin: 0;
}

.footer .row {
  text-align: center;
}

.footer hr {
  height: 2px;
  opacity: .8;
  margin-top: 10px;
}